<!DOCTYPE html>
<html lang="en">

<head>
    <script src="{{ url_for('static', filename="js/jquery-3.5.0.min.js")}}"></script>
    <script>$(document).ready(function () {
            $.ajax({
                url: "result",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({ "message": "loaded." }),
                success: function (result) {
                    $("#api-result").html(result.reply);
                }
            });
        });</script>
    <title>Test App</title>
</head>

<body>
    <p>
        <pre>Hi <span id=user-name>{{ user.name }}</span></pre>
    </p>
    <p>
        <pre>The result is <span id=api-result>loading...</span></pre>
    </p>
</body>
<html>